<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
		<link href="../static/css/style.css" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" type="image/jpg" href="../static/img/pclogo.png">

		<title>Order School Merchandise</title>
	</head>
	<body>
		<div class="root-container">
			<img src="https://pupilscom-esl1.eu/assets/images/logo%20lightbg.jpg" class="pc-logo" align="right">
			<div class="instructions">
				<h1>Order School Merchandise</h1>
				<a href="/fr">View French version / Voir la version française</a>
				<p>You can order school hoodies, sweaters, and totebags from the Pupils' Committee here.</p>
				<h3>Instructions</h3>
				<p><b>Do not reload or close this page</b> until you have finished and confirmed your order, as it will not be saved otherwise.</p>
				<p>There are three expandable categories in each order, one for each item. Click the category to open it, click it again to close it. When you are happy with the items in a category, leave it open, and it will be included in the order. If you don't want some category to be included, leave it closed.</p>
				<p>In the hoodie and sweater categories, you can cycle between the size and colour options for each item by clicking the respective options. You can also have more than one of the same item in one order by clicking the <b>Add another hoodie</b> or <b>Add another sweater</b> button and then specifying the options for the new item. In the totebag category, you can only specify the quantity, as only one colour is available.</p>
				<p>You can also have multiple orders by clicking the <b>Add another order</b> button. This is useful if you want to order for more than one person, but want to pay for all orders at once.</p>
				<p>Once you are finished with the order, enter your email address at the bottom of the page, and press <b>Confirm order</b>. After that, an email will be sent with further instructions on how you can pay and ensure that your order gets processed. Note that your email address will be retained until the order has been collected.</p>
				<p>Prices are indicated on each category below. Ordering a full set of all three items only costs 50&nbsp;€.</p>
				<p>You can view the designs, colour options, and size guides on <a href="https://pupilscom-esl1.eu/posts/2021/2021-school-merch/" target="_blank">a post on the PC's website</a>.</p>
			</div>
			<div class="order-container allow-multiple" duplication-id="order" duplication-item="Order">
				<div class="name-form">
					<p class="form-title">Information for pick-up person</p>
					<table class="form-table">
						<tr>
							<td>Name</td>
							<td><input class="student-info-input first-name" placeholder="First name(s)">&nbsp;<input class="student-info-input family-name" placeholder="Family name"></td>
						</tr>
						<tr>
							<td>Year</td>
							<td>
								<select class="year">
									<option>S1</option>
									<option>S2</option>
									<option>S3</option>
									<option>S4</option>
									<option>S5</option>
									<option>S6</option>
									<option>S7</option>
									<option>Teacher or Staff</option>
								</select>
							</td>
						</tr>
					</table>
				</div>
				<div class="hoodie-selector expandable-header">
					<div class="selector-title">Hoodie (25 €)</div>
					<div class="selector-checkbox"></div>
				</div>
				<div class="hoodie-selector expandable-content">
					<div class="height-test">
						<div class="option-form hoodie-form allow-multiple" duplication-id="hoodie" duplication-item="Hoodie">
							<div class="option-selector size-select">
								<div class="option-selector-option selected invalid-default">Click to select size</div>
								<div class="option-selector-option">XXS</div>
								<div class="option-selector-option">XS</div>
								<div class="option-selector-option">S</div>
								<div class="option-selector-option">M</div>
								<div class="option-selector-option">L</div>
								<div class="option-selector-option">XL</div>
								<div class="option-selector-option">XXL</div>
								<div class="option-selector-option">3XL</div>
								<div class="option-selector-option">4XL</div>
								<div class="option-selector-option">5XL</div>
							</div>
							<div class="option-selector colour-select">
								<div class="option-selector-option selected invalid-default">Click to select colour</div>
								<div class="option-selector-option option-white">White</div>
								<div class="option-selector-option option-black">Black</div>
								<div class="option-selector-option option-sky-blue">Sky Blue</div>
								<div class="option-selector-option option-bottle-green">Bottle Green</div>
								<div class="option-selector-option option-dark-heather-indigo">Dark Heather Indigo</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sweater-selector expandable-header">
					<div class="selector-title">Sweater (20 €)</div>
					<div class="selector-checkbox"></div>
				</div>
				<div class="sweater-selector expandable-content">
					<div class="height-test">
						<div class="option-form sweater-form allow-multiple" duplication-id="sweater" duplication-item="Sweater">
							<div class="option-selector size-select">
								<div class="option-selector-option selected invalid-default">Click to select size</div>
								<div class="option-selector-option">XXS</div>
								<div class="option-selector-option">XS</div>
								<div class="option-selector-option">S</div>
								<div class="option-selector-option">M</div>
								<div class="option-selector-option">L</div>
								<div class="option-selector-option">XL</div>
								<div class="option-selector-option">XXL</div>
								<div class="option-selector-option">3XL</div>
								<div class="option-selector-option">4XL</div>
								<div class="option-selector-option">5XL</div>
							</div>
							<div class="option-selector colour-select">
								<div class="option-selector-option selected invalid-default">Click to select colour</div>
								<div class="option-selector-option option-white">White</div>
								<div class="option-selector-option option-black">Black</div>
								<div class="option-selector-option option-khaki">Khaki</div>
								<div class="option-selector-option option-serene-blue">Serene Blue</div>
								<div class="option-selector-option option-burgundy">Burgundy</div>
							</div>
						</div>
					</div>
				</div>
				<div class="totebag-selector expandable-header">
					<div class="selector-title">Totebag (7.50 €)</div>
					<div class="selector-checkbox"></div>
				</div>
				<div class="totebag-selector expandable-content">
					<div class="counter-title">Quantity</div>
					<div class="counter">
						<div class="counter-minus">-</div><div class="counter-text">1</div><div class="counter-plus">+</div>
					</div>
				</div>
			</div>

			<div class="order-finish">
				<div class="order-data-wrapper">
					<div class="price-info-wrapper">
						<table class="price-info">
							<tr>
								<td>Total without discount</td>
								<td id="total-no-discount">0.00 €</td>
							</tr>
							<tr>
								<td>Discount for purchasing all 3 items</td>
								<td id="discount">-0.00 €</td>
							</tr>
							<tr class="table-sum">
								<td>Total to pay</td>
								<td id="total-price">0.00 €</td>
							</tr>
						</table>
					</div>
					<div class="email-form">
						<p class="form-title">Email address for invoice</p>
						<input class="email" placeholder="Email" type="email" style="width: 100%" id="invoice-email">
					</div>
				</div>
				<div class="order-button" onclick="order()">Confirm order</div>
			</div>

			<footer>
				Designed by Luis Pérez Sánchez and Henri Ahola
				<br>
				Copyright © 2021-2022 Pupils' Commitee ESL1. All rights reserved.
			</footer>
		</div>

		<div class="order-confirmation-wrapper">
			<div class="order-confirmation">
				<h1 style="color: #70AD47">Thank you for ordering from the Pupils’ Committee!</h1>
				<p>Here's your order number:</p>
				<p style="font-size: 32px; font-weight: bold" id="order-id"></p>
				<p>Please take note of this number, as <u>you will need it when picking up your items</u>.</p>
				<p>You should have received a confirmation email from us. If you don’t find it, please check your spam folder.</p>
				<hr>
				<p style="color: #C00000">Note that your order will not be processed before the payment has been made.</p>
				<p>For your order, please pay the amount of: <span id="order-price" style="font-weight: bold"></span></p>
				<p>Payments are only accepted via a bank transfer to the following account:</p>
				<p>IBAN: LU64 0019 2555 5628 0000</p>
				<p>Account holder: APEEEL1</p>
				<p>In the bank transfer comments, <u>please write</u>:</p>
				<ul>
					<li>Your order number</li>
					<li>The name that was used to place the order</li>
				</ul>
				<hr>
				<p>Items will be available to be picked up in school as soon as possible in January/February 2022, however, delays may occur.</p>
				<p>If you have any questions, don’t hesitate to send us a message to: <a href="mailto:merchorders@pupilscom-esl1.eu">merchorders@pupilscom-esl1.eu</a></p>
				<p>You may now close this page.</p>
			</div>
		</div>

		<script src="../static/js/ie.js"></script>
		<script src="../static/js/dyn.js"></script>
	</body>
</html>
