<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
		<link href="../static/css/style.css" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" type="image/jpg" href="../static/img/pclogo.png">

		<title>Commande des sweats à capuche, des sweatshirts, et des sacs de l’école</title>
	</head>
	<body>
		<div class="root-container">
			<img src="https://pupilscom-esl1.eu/assets/images/logo%20lightbg.jpg" class="pc-logo" align="right">
			<div class="instructions">
				<h1>Commande des sweats à capuche, des sweatshirts, et des sacs de l’école</h1>
				<a href="/">View English version / Voir la version anglaise</a>
				<p>Ici vous pouvez passer une commande auprès du Comité des Élèves pour des sweats à capuche, des sweatshirts et des sacs en tissu.</p>
				<h3>Instructions</h3>
				<p><b>Ne rechargez pas ou ne fermez pas cette page</b> avant d'avoir terminé et confirmé votre commande, car sinon elle ne sera pas enregistrée.</p>
				<p>Sur cette page, il y a trois catégories extensibles, une pour chaque article. Cliquez sur la catégorie pour l'ouvrir, cliquez à nouveau dessus pour la fermer. Lorsque vous êtes satisfait avec votre sélection d’articles d'une catégorie, laissez-la ouverte et elle sera incluse dans la commande. Si vous ne voulez pas qu’un article soit inclus, gardez sa catégorie fermée.</p>
				<p>Dans les catégories des sweats à capuche et des sweatshirts, vous pouvez sélectionner une taille et une couleur pour chaque article en cliquant sur les options respectives. Vous pouvez également avoir plusieurs exemplaires du même article dans une seule commande en cliquant sur le bouton «&nbsp;Ajouter un autre sweat à capuche&nbsp;» ou «&nbsp;Ajouter un autre sweatshirt&nbsp;», puis en spécifiant les options souhaitées pour le nouvel article. Dans la catégorie des sacs en tissu, vous ne pouvez spécifier que la quantité, car une seule couleur est disponible.</p>
				<p>Vous pouvez également passer plusieurs commandes en cliquant sur le bouton «&nbsp;Ajouter une autre commande&nbsp;». Ceci est utile si vous souhaitez commander pour plusieurs personnes, mais vous souhaitez payer pour toutes les commandes en une seule fois.</p>
				<p>Une fois la commande terminée, saisissez votre adresse e-mail en bas de la page pour recevoir la facture et appuyez sur «&nbsp;Confirmer la commande&nbsp;». Après cela, un e-mail vous sera envoyé avec des instructions supplémentaires sur le payement ainsi que le numéro de votre commande. Votre adresse email sera conservée jusqu'au retrait de la commande.</p>
				<p>Les prix sont indiqués sur chaque catégorie ci-dessous. Commander un ensemble complet des trois articles ne vous coutera que 50&nbsp;€.</p>
				<p>Vous pouvez consulter les modèles, les options de couleur et les guides de tailles sur <a href="https://pupilscom-esl1.eu/posts/2021/2021-school-merch/" target="_blank">le site web du Comité des Élèves</a>.</p>
			</div>
			<div class="order-container allow-multiple" duplication-id="order" duplication-item="Commande">
				<div class="name-form">
					<p class="form-title">Informations sur la personne qui viendra récupérer la commande</p>
					<table class="form-table">
						<tr>
							<td>Nom</td>
							<td><input class="student-info-input first-name" placeholder="Prénom">&nbsp;<input class="student-info-input family-name" placeholder="Nom"></td>
						</tr>
						<tr>
							<td>Année scolaire</td>
							<td>
								<select class="year">
									<option>S1</option>
									<option>S2</option>
									<option>S3</option>
									<option>S4</option>
									<option>S5</option>
									<option>S6</option>
									<option>S7</option>
									<option>Enseignant ou Personnel</option>
								</select>
							</td>
						</tr>
					</table>
				</div>
				<div class="hoodie-selector expandable-header">
					<div class="selector-title">Sweat à capuche (25 €)</div>
					<div class="selector-checkbox"></div>
				</div>
				<div class="hoodie-selector expandable-content">
					<div class="height-test">
						<div class="option-form hoodie-form allow-multiple" duplication-id="hoodie" duplication-item="Sweat à capuche">
							<div class="option-selector size-select">
								<div class="option-selector-option selected invalid-default">Choisir la taille</div>
								<div class="option-selector-option">XXS</div>
								<div class="option-selector-option">XS</div>
								<div class="option-selector-option">S</div>
								<div class="option-selector-option">M</div>
								<div class="option-selector-option">L</div>
								<div class="option-selector-option">XL</div>
								<div class="option-selector-option">XXL</div>
								<div class="option-selector-option">3XL</div>
								<div class="option-selector-option">4XL</div>
								<div class="option-selector-option">5XL</div>
							</div>
							<div class="option-selector colour-select">
								<div class="option-selector-option selected invalid-default">Choisir la couleur</div>
								<div class="option-selector-option option-white">White</div>
								<div class="option-selector-option option-black">Black</div>
								<div class="option-selector-option option-sky-blue">Sky Blue</div>
								<div class="option-selector-option option-bottle-green">Bottle Green</div>
								<div class="option-selector-option option-dark-heather-indigo">Dark Heather Indigo</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sweater-selector expandable-header">
					<div class="selector-title">Sweatshirt (20 €)</div>
					<div class="selector-checkbox"></div>
				</div>
				<div class="sweater-selector expandable-content">
					<div class="height-test">
						<div class="option-form sweater-form allow-multiple" duplication-id="sweater" duplication-item="Sweatshirt">
							<div class="option-selector size-select">
								<div class="option-selector-option selected invalid-default">Choisir la taille</div>
								<div class="option-selector-option">XXS</div>
								<div class="option-selector-option">XS</div>
								<div class="option-selector-option">S</div>
								<div class="option-selector-option">M</div>
								<div class="option-selector-option">L</div>
								<div class="option-selector-option">XL</div>
								<div class="option-selector-option">XXL</div>
								<div class="option-selector-option">3XL</div>
								<div class="option-selector-option">4XL</div>
								<div class="option-selector-option">5XL</div>
							</div>
							<div class="option-selector colour-select">
								<div class="option-selector-option selected invalid-default">Choisir la couleur</div>
								<div class="option-selector-option option-white">White</div>
								<div class="option-selector-option option-black">Black</div>
								<div class="option-selector-option option-khaki">Khaki</div>
								<div class="option-selector-option option-serene-blue">Serene Blue</div>
								<div class="option-selector-option option-burgundy">Burgundy</div>
							</div>
						</div>
					</div>
				</div>
				<div class="totebag-selector expandable-header">
					<div class="selector-title">Sacs en tissu (7.50 €)</div>
					<div class="selector-checkbox"></div>
				</div>
				<div class="totebag-selector expandable-content">
					<div class="counter-title">Quantité</div>
					<div class="counter">
						<div class="counter-minus">-</div><div class="counter-text">1</div><div class="counter-plus">+</div>
					</div>
				</div>
			</div>

			<div class="order-finish">
				<div class="order-data-wrapper">
					<div class="price-info-wrapper">
						<table class="price-info">
							<tr>
								<td>Total sans remises</td>
								<td id="total-no-discount">0.00 €</td>
							</tr>
							<tr>
								<td>Remise suite à 3 articles achetés</td>
								<td id="discount">-0.00 €</td>
							</tr>
							<tr class="table-sum">
								<td>Total à payer</td>
								<td id="total-price">0.00 €</td>
							</tr>
						</table>
					</div>
					<div class="email-form">
						<p class="form-title">Adresse e-mail pour la facture</p>
						<input class="email" placeholder="E-mail" type="email" style="width: 100%" id="invoice-email">
					</div>
				</div>
				<div class="order-button" onclick="order()">Confirmer la commande</div>
			</div>

			<footer>
				Designed by Luis Pérez Sánchez and Henri Ahola
				<br>
				Copyright © 2021-2022 Pupils' Commitee ESL1. All rights reserved.
			</footer>
		</div>

		<div class="order-confirmation-wrapper">
			<div class="order-confirmation">
				<h1 style="color: #70AD47">Merci pour votre commande auprès du Comité des Élèves !</h1>
				<p>Voici votre numéro de commande :</p>
				<p style="font-size: 32px; font-weight: bold" id="order-id"></p>
				<p>Assurez-vous de ne pas perdre ce numéro, car <u>vous en aurez besoin lors du retrait de vos articles</u>.</p>
				<p>Vous devriez avoir reçu un e-mail de confirmation de notre part. Si vous ne le trouvez pas, vérifier votre dossier spam.</p>
				<hr>
				<p style="color: #C00000">Votre commande ne sera pas traitée avant que le paiement n'ait été effectué.</p>
				<p>Pour votre commande, merci de transférer le montant de : <span id="order-price" style="font-weight: bold"></span></p>
				<p>Les paiements sont acceptés uniquement par virement bancaire sur le compte suivant :</p>
				<p>IBAN : LU64 0019 2555 5628 0000</p>
				<p>Titulaire : APEEEL1</p>
				<p>Dans les commentaires du virement bancaire, <u>veuillez indiquer</u> :</p>
				<ul>
					<li>Votre numéro de commande</li>
					<li>Le nom avec lequel la commande a été passée</li>
				</ul>
				<hr>
				<p>Les articles seront disponibles pour être récupérés à l'école dès que possible en janvier/février 2022, cependant, des retards peuvent survenir.</p>
				<p>Si vous avez des questions, n'hésitez pas à nous envoyer un message à : <a href="mailto:merchorders@pupilscom-esl1.eu">merchorders@pupilscom-esl1.eu</a></p>
				<p>Vous pouvez maintenant fermer cette page.</p>
			</div>
		</div>

		<script src="../static/js/ie.js"></script>
		<script src="../static/js/dyn.js"></script>
	</body>
</html>
