<!DOCTYPE html>
<html lang="en" style="height: 100%">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
		<link href="../static/css/style.css" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" type="image/jpg" href="../static/img/pclogo.png">

		<title>Order School Merchandise</title>
	</head>
	<body style="height: 100%">
		<div class="root-container" style="height: 100%">
			<img src="https://pupilscom-esl1.eu/assets/images/logo%20lightbg.jpg" class="pc-logo" align="center" style="display: block !important; margin: 20px calc(50% - 50px)">
			<div class="instructions">
				<h3 style="text-align: center; margin: 10px 20px">The 2021-2022 merch orders have ended. You'll have an opportunity to order again next year! For questions, please contact <a href="mailto:merchorders@pupilscom-esl1.eu">merchorders@pupilscom-esl1.eu</a>.</h3>
			</div>

			<footer>
				Designed by Luis Pérez Sánchez and Henri Ahola
				<br>
				Copyright © 2021-2022 Pupils' Commitee ESL1. All rights reserved.
			</footer>
		</div>
	</body>
</html>
